body{
    background-image: url(https://img1.akspic.ru/attachments/crops/7/4/9/3947/3947-nochnoe_nebo-sinij-kosmicheskoe_prostranstvo-zvezda-oblako-7680x4320.jpg);
}
.dop{
    font-family: cursive;
    color: antiquewhite;
}
h1 {
    color: aqua;
    font-family: fantasy;
}